/* Ensure the body and html take up full height */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#sidebar {
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

/* Bar chart styles within the sidebar */
#bar-1, #bar-2 {
  height: 33%;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

#bar-1 iframe, #bar-2 iframe {
  height: 100%;
  width: 100%;
}


.legend {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend h1 {
  margin-bottom: 5px;
  font-size: 14px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend div {
  clear: both;
}
