body {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

#map {
  height: 50%;
}

#bar-charts {
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#bar-1, #bar-2 {
  float: left; /* Float the divs to create side-by-side columns */
  height: 100%; /* Fill the height of the parent container */
  width: 50%;
}

#bar-1 {
}

#bar-2 {
}

.legend {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend h1 {
  margin-bottom: 5px;
  font-size: 14px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend div {
  clear: both;
}
